body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  background: linear-gradient(to right, #ffffff, #e3f2fd);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 2.8rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

#servicos .card {
  border: none;
  transition: transform 0.3s ease;
}

#servicos .card:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #007bff;
}

/* Efeito flutuante nos Cards */
.card {
  transition: tranform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px); /* sobe um pouco */
  box-shadow: 0 8px 20px rgb(0, 0, 0, 0.15); /* Aumenta a sombra */
}